.main-content {
  margin-left: 270px;
  padding: auto 20px;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.items-table-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.items-table-container p {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.items-table {
  width: 100%;
  border-collapse: collapse;
}

.items-table th,
.items-table td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

.items-table th {
  background-color: #f4f4f4;
}

.input-field {
  width: 100%;
  margin-top: 25px;
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
  background-color: #f9f9f9;
}
